@model IEnumerable<identity1.Common.Entities.Product>
<table>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostProduct)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostProduct)
            </td>
            <td>
                <input type="text" name="qty" value="1" />
            </td>
            <td></td>
        </tr>
    }
</table>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
