html {
    height: 100%;
}

.site-container {
    height:100%;
   
}
body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*NAVIGATION*/

.header__logo {
   
    background: url("~/Content/Images/apple_logo.png");
   
}
a {
    text-decoration: none;
    color: inherit;
}

/*.container {
    overflow: hidden;
    *zoom: 1;
    margin: 0 20px;
}*/

.body-content {
    padding-top: 90px;
}

/* HEADER */
.header {
    position: fixed;
    top:20px;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    background-color: #3f51b5;
    opacity: 0.7;
    z-index: 100;
}

.header__logo {
    font-weight: 700;
    padding: 0 25px;
    float: left;
}

/* MENU */
.autorization {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    display: inline-block;
    background-color: #3f51b5;
}
.navbar-right {
    float: right;
  
}

.menu {
    float: left;
    width:100%;
}

.menu a {
    padding: 0 10px;
}

.menu a:hover {
    color: #c5cae9;
}

.layout-buttons {
    float: right;
}




/* RESPONSIVE */
@media only screen and (max-width: 780px) {

    .site-container {
        height:100%;
    }


    .site-pusher {
        transition-duration: 0.3s;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);

    }

    .body-content {
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
    }

    .header {
        position: static;
        z-index: 100;
    }

    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
        margin-top:10px;
    }

        .header__icon:after {
            content: '';
            position: absolute;
            z-index: 1;
            display: block;
            width: 1rem;
            height: 0;
            top: 16px;
            left: 15px;
            box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
        }

    .menu {
        display: block;
        position: absolute;
        left: 0;
        top: 20px;
        bottom: 0;
        background-color: #3849a2;
        width: 200px;
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

        .menu a {
            display: block;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid #3f51b5;

        }

    .with--sidebar .site-pusher {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        background-color: rgba(0, 0, 0, 0.6);
        
    }
    .layout-buttons {
        float: none;
    }

    .navbar-right {
        float: none;
        text-align: center;
    }
}

/*Up*/
#toTop {
    width: 100px;  
    background: #f7f7f7;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px; /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
    background:transparent;
    z-index:10000;
}
.up {
    width:70px;
}

